body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    /* font-family: 'Josefin Sans', sans-serif; */

}
.header{
    height: 10vh;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 3vh;
    /* font-family:  sans-serif; */
    /* position: fixed; */
    z-index: 1;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
    
}
.fh{
    height: 10hv;
    width: 50vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;



}
.logo{
    height: 9vh;
    width: 8vw;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow:hidden; */

}
.name{
    height: 9vh;
    width: 42vw;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}
.sh{
    height: 10hv;
    width: 50vw;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu{
    height: 9vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;

}

.button{
    height: 7vh;
    width: 13vw;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #C6246E;
    flex-wrap: wrap;
    font-weight: bolder;
    font-size: large;
    /* overflow: hidden; */
}
.button:hover{
    background-color: rgb(197, 7, 95);
    cursor: pointer;
}
.menu:hover{
    cursor: pointer;
}

.form-popup{
    display: none;
    position: fixed;
    right: 35px;
    top: 20px;
    z-index: 9;
    /* border:2px solid red; */
    height: 27vh;
    width: 28vw;
    flex-direction: column;
    



}
.btn{
    border:1px solid #C6246E;
    width: 8vw;
    margin:5px;
    height: 6vh;
    color:#C6246E;
    background-color: black;
    font-weight: bold;
    

}
.close{
    background:black;
}
.btn:hover{
    background-color: black;
    color:white;
    font-weight: bold;
    border-color: white;

}

.body{
    width: 100vw;
    height: 50vh;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
    /* line-height: 500%; */
    /* justify-content: space-around; */
    flex-wrap: wrap;

}
.ft{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid white; */
    /* font-size: 1000px; */
    font-weight: bolder;
    font-size: 50px;
    

}
.st{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    font-size: x-large;
    /* border:2px solid white; */

}
.sticky{
    position: fixed;
    top: 0;
    width: 100vw;
}
div.body1{
    width: 99vw;
    height: 50vh;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerbody1{
    /* border: 1px solid white; */
    width: 80vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;

}
.box{
    height: 40vh;
    width:26vw ;
    overflow: hidden;
    border: 2px solid black;
    background-color: #C6246E;
    background-image: linear-gradient(to bottom right,#C6246E,#AF39B9);
}
.box:hover{
    border-color: white;
}
.innerbox{
    /* border:2px solid yellow; */
    height:37vh ;
    width:25vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.badge{
    border: 1px solid #C6246E;
    margin-top: 30px;
    height: 70px;
    width: 70px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background-color: #C6246E;
    background-image: linear-gradient(to bottom right,#C6246E,#AF39B9);
}
.badge:hover{
    border-color: white;
}
.subheading{
    /* border: 2px solid white; */
    margin-top: 30px;
    height: 70px;
    width: 20vw;
    /* border-radius: 90px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    font-weight: bolder;
    color: white;
    font-size: x-large;
}
.subcontent{
    /* border: 2px solid white; */
    margin-top: 30px;
    height: 90px;
    width: 23vw;
    /* border-radius: 90px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    /* font-weight: bolder; */
    color: white;
    font-size: large;
}

.page3{
    width: 100vw;
    /* border:2px solid white; */
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.boxb{
    height: 55vh;
    width: 35vw;
    /* border: 1px solid white; */
    background-color: grey;
    background-image: linear-gradient(to bottom right,grey,black);
}
.info{
    height: 50vh;
    width: 39vw;
    /* border: 1px solid white; */
    color: #C6246E;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#boxinfo1{
    width: auto;
    height:5vh ;
    /* border:2px solid red; */
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
}

#boxinfo2{
    width: auto;
    height:18vh ;
    /* border:2px solid red; */
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    font-size: x-large;
    color:white;
}
#boxinfo3{
    width: auto;
    height:11vh ;
    /* border:2px solid red; */
    /* font-weight: bold; */
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    font-size: small;
    color:gray;
}
#boxinfo4{
    width: 10vw;
    height: 7vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #C6246E;
    color: white;
    
}
#boxinfo4:hover{
    border-color: white;
}

@media screen and (max-width:715px){
    .button{
        display: flex;
        overflow-wrap:normal;
        
    }
}



/* last page CSS */


.lupperbody{
    height: 25vh;
    width: 100vw;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}.lheading{
    width: fit-content;
    height: fit-content;
    display: flex;
    /* border: 2px solid white; */
    font-weight: 700;
    font-size: 42px;
    color: white;


}

.lsubheading{
    width: fit-content;
    height: fit-content;
    display: flex;
    /* border: 2px solid white; */
    font-weight: 500;
    font-size: 24px;
    opacity: 50%;
    color: white;
}

.llowerbody{
    height: fit-content;
    width: 100vw;
    /* border: 2px solid white; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.libody{
    height: 614px;
    width: 1050px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.lbox{
    height: 307px;
    width: 340px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    align-items: center;
    text-align: left;

}
#lbox1{
    background-color: #482D56;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.playicon{
    height: 75.73px;
    width: 75.73px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #C6246E;
}
#lbox2{
    background: #C6246E;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.lbox2f{
    font-weight: 600;
    font-size: 36px;
}
.lbox2s{
    font-weight: 400;
    font-size: 16px;
    opacity: 80%;

}
.lbox2t{
    height: 52px ;
    width: 153px;
    background-color: #482D56;
    color: white;
    font-weight: 500;
    font-size: 24px;


}
#lbox3{
    background-color: #482D56;
}
#lbox4{
    background: #C6246E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;


}
#lbox5{
    background-color: #482D56;
}
#lbox6{
    background: #C6246E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

